/DataBaseDemo/nbproject/private/
/java-netbeans/DataBaseDemo/build/
/ScientificCalculator/nbproject/private/
/ScientificCalculator/build/
/java-netbeans/NetbeansProject/nbproject/private/
/java-netbeans/NetbeansProject/build/
/netbeans-projects/DataBaseApp/nbproject/private/
/netbeans-projects/DataBaseApp/build/
